.cms .ss-gridfield-timeline table.ss-gridfield-table,
.cms .ss-gridfield-timeline table.ss-gridfield-table thead,
.cms .ss-gridfield-timeline table.ss-gridfield-table tbody,
.cms .ss-gridfield-timeline table.ss-gridfield-table tfoot,
.cms .ss-gridfield-timeline table.ss-gridfield-table tr,
.cms .ss-gridfield-timeline table.ss-gridfield-table th,
.cms .ss-gridfield-timeline table.ss-gridfield-table td {
    display:block;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table,
.cms .ss-gridfield-timeline table.ss-gridfield-table thead,
.cms .ss-gridfield-timeline table.ss-gridfield-table tbody,
.cms .ss-gridfield-timeline table.ss-gridfield-table tfoot,
.cms .ss-gridfield-timeline table.ss-gridfield-table tr {
    width: 100%;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table {
    clear:both;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table tbody tr {
    background-color:#fff;
    position: relative;
    padding:15px 0;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table tbody tr:after {
    content: "";
    display: table;
    clear: both;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table tbody tr:hover {
    background-color:rgb(240, 244, 247) !important;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td {
    border:0;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .sortable-header,
.cms .ss-gridfield-timeline table.ss-gridfield-table .sortable-header:hover {
    text-align: right;
    white-space: nowrap;
    border-top: 1px solid #a4b4bf;
    border-left: 1px solid #a4b4bf;
    color: #fff;
    background: #98aab6 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .sortable-header th {
    width:auto;
    display: inline-block;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .sortable-header .col-TimelineIcon,
.cms .ss-gridfield-timeline table.ss-gridfield-table .sortable-header .non-sortable {
    display: none;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .sortable-header .col-Actions {
    float: left;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .filter-header {
    background-color:#000000 !important;
    text-align: right;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .filter-header:after {
    content: "";
    display: table;
    clear: both;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .filter-header > th {
    display: inline-block;
    margin:5px;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .filter-header > th:last-child {
    float: left;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table .filter-header > th div {
    padding-bottom:0;
    margin-bottom:0;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table tbody td {
    padding:0;
    max-width:none;
    margin-right:40px;
    margin-left:85px;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.TimelineIcon {
    float: left;
    margin-right:0;
    margin-left:0;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.col-buttons {
    position: absolute;
    top:50%;
    margin-top:-10px;
    margin-right:0;
    right:40px;
    margin-left:0;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.TimelineIcon + td {

}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.TimelineIcon div {
    padding:15px;
    position: relative;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.TimelineIcon div {
    padding:0 15px;
    width:55px;
    position: relative;
    text-align: center;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table tbody tr:before {
    content:'';
    display:block;
    position: absolute;
    top:0;
    bottom:0;
    left:43px;
    width:2px;
    margin-left:-1px;
    background-color:rgb(240, 244, 247);
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.TimelineIcon div i.fa {
    font-size:20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background-color:rgb(240, 244, 247);
    color:rgba(102, 102, 102, 0.8);
    position:relative;
    z-index:5;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table td.TimelineIcon div i.fa.icon-timeline--minor {
    font-size:10px;
    width: 20px;
    height: 20px;
    line-height:20px;
}

.cms .ss-gridfield-timeline table.ss-gridfield-table tbody tr:hover td.TimelineIcon div i.fa {
    background-color:#fff;
}